@tailwind base;
@tailwind components;
@tailwind utilities;

/* Загальні стилі */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
}

/* Фонові картинки */
.bg-footer {
  background-image: url('/img/bg-footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-main {
  background-image: url('/img/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}


.text-dark {
  color: #1a1a1a;
}

.text-primary {
  color: #3b82f6;
}

